

div#introduce {
    position: absolute;
    top: 80px;
    left: 30px;
    background: white;
    padding: 5px 0 1px 0;
    text-align: left;
}

div#post_latest {
    position: absolute;
    background: white;
    top: 300px;
    left: 30px;
    font-size: 16px;
}


.post{
    font-size: 35px;
}
.date{
    position: relative;
    font-size: 16px;
    left: 20px;
}

