div#latest_post {
    position: absolute;
    background: white;
    top: 450px;
    left: 30px;
    font-size: 16px;
}


.post{
    font-size: 35px;
}

.date{
    position: relative;
    font-size: 16px;
    left: 20px;
}

