{% extends "base.html" %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}" />
<body>
{% block content %}
    <div class="container">
      <div class="blog-header">

        <h1 class="blog-title">title</h1>
        <p class="lead blog-description">description</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">


          <div class="blog-post">
            <h2 class="blog-post-title">{{ object.title }}</h2>
            <p class="blog-post-meta">{{ object.modify_date|date:"j F Y" }}</p>

            {{ object.content|safe }}

          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="{{ object.get_previous_post.get_absolute_url }}">Previous : {{ object.get_previous_post }}</a></li>
              <li><a href="{{ object.get_next_post.get_absolute_url }}">Next : {{ object.get_next_post }}</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Post list</h4>
            <ol class="list-unstyled">
              {% for post in posts %}
                <li><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
{% endblock %}
  </body>

