{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block extrastyle %}{% static "blog/css/blog.css" %}{% endblock %}
{% block content %}

    <div class="container">
      <div class="blog-header">

        <h2 class="blog-title">[{{object.category}}]{{ object.title }}</h2>
        <p class="lead blog-description">{{ object.modify_date|date:"j F Y" }}</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
                {{ object.content|safe }}
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              {% if object.get_previous_by_create_date %}
              <li><a href="{{ object.get_previous_post.get_absolute_url }}">Previous</a></li>
              {% endif %}
              {% if object.get_next_by_create_date %}
              <li><a href="{{ object.get_next_post.get_absolute_url }}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
            <div>
                {% load disqus_tags %}
                {% disqus_show_comments %}
            </div>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>당신만의 블로그를 만들어보세요.</p>
          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}