{% extends "base.html" %}

{% block title %}GLAY's blog{% endblock %}

{% block content %}
<div id="content">
    <h1>Post List</h1>

    {% for post in posts %}
        <h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
        {{ post.modify_date|date:"N d, Y" }}
        <a href='{{ post.get_absolute_url }}'>Comments: {{ post.approved_comments.count }}</a>
    {% endfor %}

    <br/>
<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>

</div>

</div>
{% endblock content %}

{% block footer %}
<div id="footer">
    &copy; JJS 2016
</div>
{% endblock footer %}

