{% extends "base.html" %}

{% block title %}Second life Home{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}

<div id="post_latest">
    <h1>The latest List</h1>
    {% for post in posts %}
    <a class="post" href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
    {{ post.modify_date|date:"N d, Y" }}
    <br/>
    {% endfor %}
</div>
{% endblock content %}

{% block footer %}
<div id="footer">
    &copy; Second life 2016
</div>
{% endblock footer %}
