{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block extrastyle %}{% static "blog/css/blog.css" %}{% endblock %}
{% block content %}

    <div class="container">
      <div class="blog-header">

        <h2 class="blog-title">Who we are?</h2>

      <div class="row">
        <div class="col-sm-12 blog-main">
          <div class="blog-post">

             <pre>
             안녕하세요.
             TW(TWilight) project 떠오르는 태양처럼 우리의 어둠이 끝나고 우리가 빛나기 시작하는 순간을 생각하자는 의미입니다.
             Hardware 개발자에서 Software 개발자로 커리어 전환을 하면서, 많은 헛수고를 하면서 한 걸음씩 내딛고 있는 미생 개발자이며,
             창업을 준비하고 있습니다. 반드시 꼭 창업을 해보고자 저희의 흔적들을 남기고자 블로그를 만들었고, 여기에 남기는 공부 흔적들이
             다른 사람들에게도 도움이 되었으면 합니다.
             이 블로그는 저의 첫 작품이자 django로 만들었습니다. 부족하지만 좋게 봐주시면 감사하겠습니다.
             </pre>

          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}