{% extends "base.html" %}

{% block title %}Second life's Introduce{% endblock %}

{% block content %}

<div id="content">
    <h2 style="bold">Who we are?</h2>
    <p>
        안녕하세요.
        Second life입니다.
        두 명의 개발자로 이루어져 있으며,
        J군은 Second life의 기획 및 개발,
        K군은 개발을 담당하고 있습니다.
    </p>
    <h2 style="bold">Why is second life?</h2>
    <p>
        직장이든 어떤 한 일을 하시고 계시든 간에 인생에서 한 번은 창업은 하게 될 것이고
        창업은 당신의 인생을 좀 더 나은 삶으로 이끌 수 있을 것입니다.
        창업은 당신의 새로운 출발, 즉 Second life로 이어질 것입니다.
        그렇기에 Second life는 혼자서도 아이디어를 어떻게 다듬고 기획하여 구체화 시키는 과정에 도움이 되고자 합니다.
    </p>
</div>
{% endblock content %}

{% block footer %}
<div id="footer">
    &copy; Second life 2016
</div>
{% endblock footer %}
