<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="VirtualView">
	<div class="hideMenuBody" id="hideMenuBodyId">
		<div>Menu 1</div>
		<div>Menu 2</div>
		<div>Menu 3</div>
		<div>Menu 4</div>
		<div>Menu 5</div>
		<div onclick="closeLeftMenu(); return false;">Close</div>
	</div>

	<div class="circleBt" id="circleBt" onclick="showLeftMenu(this); return false;">
		<div style="margin-top: 13px;"></div>
		<div></div>
		<div></div>
	</div>


</div>
</body>
</html>